* {
  font-family: Sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #5380CD;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0
}

li {
  text-align:center;
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.active {
  background-color: #1DB370;
}

li:last-child {
  border-right: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  color: white;
}
a:hover {
  color: #CDA053;
  text-decoration: underline;
}
a:active {
  color: black;
}

.button {
  color: #FFF;
  background-color: #CDA053;    
  font-weight: bold;
  padding: 15px;
  text-align: justify;
  border: 2px solid #5D6063;    /* Dark gray */
  border-radius: 5px;
  width: 200px;
  margin-right: 20px auto;
  /*margin: 20px auto;*/
}

.button:link,      
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #886428; 
}/* Change this */
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #CDA053; 
}

.button:visited {             
  /*display: block;   */         
  text-decoration: none;      
  color: #FFF;              
  background-color: #CDA053;
  font-weight: bold;
  padding: 15px;
  text-align: justify;
  border: 2px solid #5D6063;
  border-radius: 5px;
  width: 200px;
  margin-top: 2000px;
}

.space_text {
  margin: 5px;
  letter-spacing: 4px;
}

.wave_text {
  background-color: #E51AE4;
}
